/* histogramme2.component.scss */

.container {
    max-width: 800px;
    margin: auto;
  }
  
  

  /* histogramme2.component.scss */
#histogrammeChartContainer {
  width: 100%;
  height: 400px; /* Ajuste la hauteur selon tes besoins */
}
