<div class="row">
  <div class="col-md-8">
    <!-- Card for displaying dashboard list -->
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Dashboard List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>Title</th>
              <th>Actions</th>
              <th>Assign</th>
            </thead>
            <tbody>
              <tr *ngFor="let dashboard of dashboards">
                <td>{{ dashboard.title }}</td>
                <td>
                  <button *ngIf="dashboard?.id && isAdmin"  (click)="deleteDashboard(dashboard.id)" class="btn btn-custom-red mr-1">
                    <i class="fa fa-trash"></i>
                  </button>
                  <button *ngIf="dashboard?.id" (click)="updateDashboard(dashboard.id)" class="btn btn-custom-green mr-1">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button *ngIf="dashboard?.id" (click)="dashboardDetails(dashboard.id)" class="btn btn-custom-blue mr-1">
                    <i class="fa fa-info-circle"></i>
                  </button>
                    <button *ngIf="dashboard?.id" (click)="navigateToGraphiquesDashboardsComponent(dashboard.id)" class="btn btn-info">
                      <i class="nc-icon nc-chart-pie-36"></i>
                    </button>
  





                </td>
                <td>
                  <button *ngIf="dashboard?.id" (click)="navigateToAssign(dashboard.id)" class="btn btn-info">
                    Portlet
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Boutons masqués si l'utilisateur est ROLE_USER -->
        <button *ngIf="isAdmin" class="btn btn-primary mr-1" (click)="createDashboard()">Add New</button>
        <button *ngIf="isAdmin" class="m-3 btn btn-md btn-custom-red mr-1" (click)="deleteAllDashboards()">Remove All</button>
      </div>
    </div>
  </div>
</div>

