.custom-card {
    width: 100%; /* Ajustez la largeur comme vous le souhaitez */
    max-width: 1200px; /* Exemple de largeur maximale */
    height: 324px; /* Ajustez la hauteur en fonction de vos besoins */
    overflow: auto; /* Permet de faire défiler le contenu si nécessaire */
  }
  